@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;  
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
  background-color: #f7ecd6;
  padding-top: 80px;
  padding-bottom: 60px;
}

.container {
  width: 80%;
  max-width: 1700px; 
  background: #f7ecd6;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.navbar {
  width: 100%;
  background-color: #da6037;
  color: #ffffff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
  z-index: 1000;
}

.navbar-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #f7ecd6;
}

li {
  width: 125px;
  height: 40px;
  background: #533c2c;
  color: #bb4e29;
  border-radius: 8px;
  border: 4px solid #533c2c;
  image-rendering: pixelated;      
  box-shadow: 4px 4px 0px #000000;
  cursor: pointer;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #bb4e29;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.tabs {
    background: #533c2c;
}

.tab-container {
  width: 100%;
  background: #f7ecd6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

.tab-container ul.tabs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #533c2c; 
}

.tab-container ul.tabs li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  background: #533c2c;          
  border: 0px; 
  border-bottom: none;           
  transition: background 0.3s, border-color 0.3s;
  font-size: 12px;
  color: #fff;  
  box-shadow: none;              
}

.tab-container ul.tabs li.active {
  color: #da6037;
}


.tab-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 700%; 
  transition: transform 0.5s ease-in-out;
}

.content {
  width: calc(100% / 7);
  padding: 20px;
  box-sizing: border-box;
}

.content .title {
  background-color: #bb4e29;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 0px #533c2c;
  font-size: 20px;
}

.row-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.row-content img {
  width: 30%;
  height: auto;
  image-rendering: pixelated;
}

.row-content p {
  font-size: 20px;
  color: #533c2c;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }

  .row-content {
    flex-direction: column;
    text-align: center;
  }

  .row-content img {
    width: 80%;
  }
}
